h1{color: white;
   text-align: center;
   margin: 10%,10%;
}
body{background: black}
.box{
     background-color: white;
     border-radius: 5px ;
     text-align: center;
     font-size: 190%;
     width: 100%;
     height: 250px;
     padding-top: 40px;
     margin: 8%,8%;
     margin-top: 80px;
     }